*{
    outline: 1px solid black;
    margin: 0;
}


div#content{
    background-image: url('./background.jpg');
    background-size:cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div#header{
    background-color: black;
    color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

div#header>ul{
    width: max-content;
    display: flex;
    gap: 10px;
}

div#header>ul>li{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
    padding: 0;
}

div#mainContent{
    width: 75vw;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    flex-grow: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: black;
}


div#mainContent>*{
    background-color: green;
    width: 75%;
}

h2{
    display: flex;
    justify-content: center;
}

/* div#mainContent p, div#mainContent ul{
    font-size: 1.5rem;
} */

div#footer{
    background-color: black;
    color: green;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

